<section class="my-6">
  <h2>Création de compte client</h2>

  <form>
    <div class="input-container input-container-row">
      <div>
        <label appLabel for="firstname">Prénom</label>
        <input type="text" id="firstname" name="firstname" required appInput />
      </div>

      <div>
        <label appLabel for="lastname">Nom</label>
        <input type="text" id="lastname" name="lastname" required appInput />
      </div>
    </div>

    <div class="input-container">
      <label appLabel for="address">Adresse</label>
      <input type="text" id="address" name="address" required appInput />
    </div>

    <div class="input-container">
      <label appLabel for="zipCode">Code Postal</label>
      <input type="text" id="zipCode" name="zipCode" required appInput />
    </div>

    <div class="input-container">
      <label appLabel for="city">Ville</label>
      <input type="text" id="city" name="city" required appInput />
    </div>

    <div class="input-container">
      <label appLabel for="phone">Téléphone</label>
      <input type="tel" id="phone" name="phone" required appInput />
    </div>

    <div class="input-container">
      <label appLabel for="gender">Civilité</label>
      <select appSelect id="gender" name="gender">
        <option value="man">Monsieur</option>
        <option value="woman">Madame</option>
      </select>
    </div>

    <div class="input-container input-container-row">
      <div>
        <label appLabel for="login">Login</label>
        <input type="text" id="login" name="login" required appInput />
      </div>

      <div>
        <label appLabel for="email">Email</label>
        <input type="email" id="email" name="email" required appInput />
      </div>
    </div>

    <div class="input-container input-container-row">
      <div>
        <label appLabel for="password">Mot de passe</label>
        <input
          type="password"
          id="password"
          name="password"
          required
          appInput
        />
      </div>

      <div>
        <label appLabel for="passwordConfirmation"
          >Confirmer le mot de passe</label
        >
        <input
          type="password"
          id="passwordConfirmation"
          name="passwordConfirmation"
          required
          appInput
        />
      </div>
    </div>

    <button type="submit" appButton>Créer un compte</button>
  </form>
</section>
